<form action="/create-book" method="POST">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="year" placeholder="year">
  {{!-- <input type="text" name="author" placeholder="author"> --}}
  <select name="author" id="">
    {{#each authors}}
    <option value="{{this._id}}">{{this.name}} {{this.lastName}}</option>
    {{/each}}
  </select>

  <input type="submit" value="Crete a new book">
</form>